.image-right{
	width: 25em; 
	margin-left: 20px; 
	margin-bottom: 20px;
}

/*Top page border*/
.border {
    /*background-image: url("../assets/border.jpg");*/
    background-image: url("../assets/border5.png");
    /*background-repeat: repeat-x;*/
    background-size: 100%;
    height: 80px;
}

a.social-media {
	margin: 5px;
}

a.social-media:hover {
	text-decoration: none;
}