.image-right{
	width: 25em; 
	margin-left: 20px; 
	margin-bottom: 20px;
}

/*Top page border*/
.border {
/*    background-image: url("../assets/border5.png");
    background-size: 100%;
    height: 80px;
*/
    background-image: url("../assets/border2.jpg");
    background-repeat: repeat-x;
    height: 100px;
}

a.social-media {
	margin: 5px;
}

a.social-media:hover {
	text-decoration: none;
}

.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.proceedings {
	font-style:italic;
}

a.papertitle{
	font-weight:400;
}